extends pug/base

append vars
    - html.classList.push('page-index')
    - meta.viewport = 'width=device-width, initial-scale=1'
    - link.icon = 'favicon.ico'
    - title = 'Евгений'
    - skills = [['HTML', 1], ['SASS', 1], ['VANILLAJS', 1], ['GIT', 1], ['CSS3', 1], ['LESS'], ['ANGULAR'], ['FOUNDATION'], ['БЭМ'], ['GULP', 1], ['JQUERY', 1], ['BOOTSTRAP', 1], ['VUEJS', 1], ['ES6', 1], ['NPM', 1], ['NODEJS', 1]]
    - skillValue = 100 / skills.length
    - profileFields = ['ЕВГЕНИЙ ЕРМОЛАЕВ', '10.01.1990', 'УЛЬЯНОВСК', 'STRIZH32@GMAIL.COM']

block content
    div(class="wrapper", id="wrapper", style="display: none;")
        div(class="profile")
            div(class="profile__photo")
                div(class="profile__photo-mask")
                    img(src="images/photo-2.jpg", alt="photo")
            ul(class="profile__fields")
                each field in profileFields
                    li(class="profile__field")= field

        div(class="skills")
            h2(class="skills__title") Навыки
            ul(class="skills__checkboxes")
                each skill in skills
                    li(class="skill__checkbox")
                        input(
                        type="checkbox",
                        id= "skill-" + skill[0].toLowerCase(),
                        value= skillValue,
                        checked= skill[1],
                        @change="selectSkill"
                        )
                        label(for= "skill-" + skill[0].toLowerCase())= skill[0]


        div(class="skill-meter")
            div(class="skill-meter__left")
                div(class="skill-meter__arrow" v-bind:style="skillMeterStyle")
            div(class="skill-meter__right")
                .skill-meter__js-level Мой уровень владения<br>JavaScript
                .skill-meter__animated-number {{ animatedNumber }}


        a(href="https://bitbucket.org/strizh32/strizh32.bitbucket.io/src", target="_blank") Исходный код