.skills {
	[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
	}

	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
		position: relative;
		margin: 0;
		padding-left: 27px;
		font-size: 12px;
		cursor: pointer;
	}

	/* checkbox aspect */
	[type="checkbox"]:not(:checked) + label::before,
	[type="checkbox"]:checked + label::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 3px;
		width: 19px;
		height: 19px;
		background: #eee;
	}

	[type="checkbox"]:checked + label::before {
		background: #0093d7;
	}

	[type="checkbox"]:not(:checked) + label::after,
	[type="checkbox"]:checked + label::after {
		content: "✔";
		position: absolute;
		left: 4px;
		top: 5px;
		font-size: 14px;
		line-height: 0.8;
		color: #fff;
		transition: all 200ms;
	}

	[type="checkbox"]:not(:checked) + label::after {
		opacity: 0;
		transform: scale(0);
	}

	[type="checkbox"]:checked + label::after {
		opacity: 1;
		transform: scale(1);
	}
}
