// stylelint-disable at-rule-empty-line-before
@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";
@import "checkbox";

body {
	font-family: $font-family-roboto;
	color: #666;
	background: #f0f0f0;
}

li {
	list-style: none;
}

.wrapper {
	margin: 60px auto 100px;
	max-width: 660px;
	background: #fdfcfa;
}

.profile {
	display: flex;
}

.profile__photo {
	padding: 30px 20px;
}

.profile__photo-mask {
	clip-path: circle(49% at center);
}

.profile__fields {
	flex-grow: 1;
	padding: 0 20px 30px 0;
}

.profile__field {
	border-bottom: 2px solid #333;
	padding: 30px 0 10px;
	font-weight: 500;
	font-size: 12px;
}

.profile__photo img {
	width: 138px;
	height: 138px;
}

.skill__checkbox {
	label {
		cursor: pointer;
		user-select: none;
	}
}

.skill-meter {
	display: flex;
	border-top: 2px solid #eee;
	padding: 60px 20px;
}

.skill-meter__left {
	margin-right: 65px;
	width: 253px;
	height: 127px;
	background: url("../images/skill-meter.svg") center center / 100% auto no-repeat;
}

.skill-meter__arrow {
	@include triangle(to top, 20px, 55px, #3e3d40);

	position: relative;
	margin: 70px 0 0 118px;
	transform-origin: 50% 100%;
	transition: all 300ms;

	&::after {
		content: "";
		position: absolute;
		left: -10px;
		bottom: -65px;
		display: block;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		width: 20px;
		height: 10px;
		background: #3e3d40;
	}
}

.skill-meter__animated-number {
	font-weight: 900;
	font-size: 50px;
	color: #0093d7;
}

.skill-meter__js-level {
	padding-bottom: 20px;
	font-weight: 500;
	font-size: 18px;
	color: #010101;
}

.skills {
	border-top: 2px solid #eee;
	padding: 30px 0 0 20px;
}

.skills__title {
	margin: 0 0 25px;
	font-weight: 500;
	font-size: 18px;
}

.skills__checkboxes {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

.skill__checkbox {
	display: block;
	padding-bottom: 50px;
	width: 160px;
	font-weight: 500;
	font-size: 12px;
}
